mat-sidenav-container {
    background-color: transparent;
}

.sidenav {
    min-width: 200px;
}

.logo {
	width: 80%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-list {
    background-color: wheat;
    border-radius: 3px;
}

.nav-list-item {
    padding: 0px 20px;
}
